﻿@model EscolaMVC.Models.TurmaViewModels

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </dt>
       
        <dd>
            @Html.DisplayFor(model => model.Curso.NomeCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeTurma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeTurma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TurmaId }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
