﻿@model IEnumerable<EscolaMVC.Models.TurmaViewModels>

@{
    ViewBag.Title = "Lista de Turmas";
}

<h2>Lista de Turmas</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeTurma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeTurma)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.TurmaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.TurmaId }) |
            @Html.ActionLink("Adicionar Alunos", "Create", "TurmaAluno") |
            @Html.ActionLink("Apagar", "Delete", new { id = item.TurmaId })




        </td>
    </tr>
}

</table>
