﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" /> Inicio</a></li>
                    @if (User.Identity.IsAuthenticated)
    {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administração</a>
                    <ul class="dropdown-menu">
                        <li> @Html.ActionLink("Cargos", "Index", "Cargo")</li>
                        <li> @Html.ActionLink("Utilizadores", "Index", "Utilizador")</li>
                        <li> @Html.ActionLink("Cursos", "Index", "Curso")</li>
                        <li> @Html.ActionLink("Disciplinas", "Index", "Disciplina")</li>
                        <li> @Html.ActionLink("Turmas", "Index", "Turma")</li>
                        <li> @Html.ActionLink("Alunos", "Index", "Aluno")</li>
                        <li> @Html.ActionLink("Professores", "Index", "Professor")</li>
                        <li> @Html.ActionLink("Lançar Notas", "Index", "Nota")</li>
                    </ul>
                </li>
};
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - https://amadeuantunes.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
