﻿@model EscolaMVC.Models.CursoDisciplinaViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.NomeCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.NomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.NomeDisciplina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CursoDisciplinaId }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
