﻿@model IEnumerable<EscolaMVC.Models.CursoDisciplinaViewModels>

@{
    ViewBag.Title = "Disciplinas do Curso";
}

<h2>Disciplinas do Curso</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.NomeDisciplina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CursoDisciplinaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CursoDisciplinaId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.CursoDisciplinaId })
        </td>
    </tr>
}

</table>
