﻿@model IEnumerable<EscolaMVC.Models.UtilizadorViewModels>

@{
    ViewBag.Title = "Lista de utilizadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Utilizadores</h2>

<p>
    @Html.ActionLink("Criar utilizador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cargo.CargoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo.CargoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UtilizadorId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.UtilizadorId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.UtilizadorId })
        </td>
    </tr>
}

</table>
