﻿@model EscolaMVC.Models.CursoViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCurso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CursoId }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
