﻿@model IEnumerable<EscolaMVC.Models.CursoViewModels>

@{
    ViewBag.Title = "Lista de Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Cursos</h2>

<p>
    @Html.ActionLink("Criar Curso", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCurso)
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCurso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CursoId }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.CursoId })  |
            @Html.ActionLink("Atribuir Disciplinas", "Create", "CursoDisciplina", routeValues: new { id = item.CursoId }, htmlAttributes: null) |
            @Html.ActionLink("Ver Turmas", "Index", "Turma", routeValues: new { id = item.CursoId }, htmlAttributes: null)
        </td>
    </tr>
}

</table>
