﻿@{
    ViewBag.Title = "Home Page";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center" style="background-color:#007bff; color:white;" >
    <h1>Escola</h1>
    <p>Bem-vindo à nossa Escola</p>
    
</div>


<div class="jumbotron" style="        color: white;
        text-align: center;
        background-image: url('../../Content/Imagens/bg.jpg');
        background-size: cover;" >
    <br />
    <br />
    <button type="button" class="btn btn-success btn-lg">Junte-se a nós</button>

</div>




<div class="container">
    <!-- Example row of columns --> 
    <div class="row">
        <div class="col-md-4" style="background-color:#f04d40; color:white;">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           
        </div>
        <div class="col-md-4" style="background-color:#d6a516; color:white;">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           
        </div>
        
        <div class="col-md-4" style="background-color:#42b2e0; color:white;">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
           
        </div>
    </div>

    <hr>
