﻿@model IEnumerable<EscolaMVC.Models.UtilizadorViewModels>

@{
    ViewBag.Title = "Lista de Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alunos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UtilizadorId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.UtilizadorId }) |

        </td>
    </tr>
}

</table>
