﻿@model EscolaMVC.Models.UtilizadorViewModels

@{
    ViewBag.Title = "Detalhes";
}
<div>
<h2>Detalhes</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Cargo.CargoNome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cargo.CargoNome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Apelido)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Apelido)
    </dd>





</dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UtilizadorId }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
