﻿@model EscolaMVC.Models.DisciplinaViewModels

@{
    ViewBag.Title = "Apagar Disciplina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar Disciplina</h2>

<h3>Tem a certeza que deseja apagar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoDisciplina)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
