﻿@model EscolaMVC.Models.DisciplinaViewModels

@{
    ViewBag.Title = "Detalhes da disciplina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes da disciplina</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoDisciplina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DisciplinaId }) |
    @Html.ActionLink("BVoltar para a lista", "Index")
</p>
