﻿@model IEnumerable<EscolaMVC.Models.DisciplinaViewModels>

@{
    ViewBag.Title = "Lista de Disciplinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Disciplinas</h2>

<p>
    @Html.ActionLink("Criar Disciplina", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoDisciplina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDisciplina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoDisciplina)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DisciplinaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DisciplinaId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.DisciplinaId })
        </td>
    </tr>
}

</table>
