﻿@model IEnumerable<EscolaMVC.Models.CargoViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ver cargos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CargoNome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CargoNome)
        </td>
    </tr>
}

</table>
