﻿@model IEnumerable<EscolaMVC.Models.NotaViewModels>

@{
    ViewBag.Title = "Lista de notas";
}

<h2>Lista de notas</h2>

<p>
    @Html.ActionLink("Lançar nota", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.NomeDisciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turma.NomeTurma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaValor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turma.NomeTurma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotaValor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.NotaId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.NotaId })
        </td>
    </tr>
}

</table>
