﻿@model EscolaMVC.Models.TurmaAlunoViewModels

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que deseja apagar?</h3>
<div>
    <h4>TurmaAlunoViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turma.NomeTurma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.NomeTurma)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "Index")
        </div>
    }
</div>
