﻿@model EscolaMVC.Models.TurmaAlunoViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turma.NomeTurma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.NomeTurma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TurmaAlunoid }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
