﻿@model IEnumerable<EscolaMVC.Models.TurmaAlunoViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Associar Turma ao Aluno", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turma.NomeTurma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turma.NomeTurma)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TurmaAlunoid }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TurmaAlunoid }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.TurmaAlunoid })
        </td>
    </tr>
}

</table>
